.head {
  text-align: center;
  color: brown;
}

.chartContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.chart {
  width: 80%;
}

.timeFrameContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.timeframeBtn {
  width: 5rem;
  height: 2rem;
  background-color: aqua;
  border: none;
  border-radius: 0.7rem;
  color: black;
  font-weight: bold;
  cursor: pointer;
}